@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }
}
body{background-color: #f1f1f1}
.container {
  background-color: #fff;
  box-shadow: 0 0 5px #ccc;
}
/*banner*/
#carousel-example-generic,
#main-header{
  margin-bottom: 10px;
}

/* Sidebar */
.sidebar{
  background-color: #E8F0FA;
  padding: 15px;
}

/* Navigation */
#portal-globalnav {
    clear: both;
    background: #ddd;
}
#portal-globalnav li {
}
#portal-globalnav li a {
    display: inline-block;
    padding: 0.5em 2em;
    background: #ddd;
    min-width: 6em;
    white-space: normal;
    border-right: 0.1em solid white;
}

#portal-globalnav .selected a,
#portal-globalnav a:hover {
    background: #205c90;
    color: White;
}
#portal-globalnav .selected a:hover {
    background: #ddd;
    color: #205c90;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
  }
}
.main .page-header {
  margin-top: 0;
}

/*porlet*/
dl.portlet{
  margin-bottom: 20px;
  font-size: 14px !important;
}
.home-portlet > div:nth-child(1):after{
  content: " ";
  clear: both;
  display: block;
}
.home-portlet dl.portlet{
  box-shadow: 0 0 5px #ccc;
}
.home-portlet .portletCollection dd{
  padding-top: 0;
  padding-bottom: 0
}
dl.portlet > dd,
dl.portlet > dt{padding: 10px 15px !important}
dt.portletHeader,dt.portletHeader a{
  background: #337ab7 !important; 
  color: #fff !important;
}
dt.portletHeader.hiddenStructure{
  display: none;
}
/*ovorride plone css*/
#content .discreet, #sidebar .discreet, .portletStaticText .discreet,
#content{font-size: inherit;}
/*edit bar*/
#content-views a, #content li.formTab a, #content-core li.formTab a{
    line-height: 18px;
}
#contentActionMenus{top: 0.1em}
#contentActionMenus dl.actionMenu{margin-bottom: 0}
.formQuestion.label,
label .label{
    color: #333;
    padding:0;
}
#portal-personaltools{
  position: absolute;
    right: 13%;
    background-color: #e3e3e3;
    padding: 5px;
    z-index: 1;
    font-size: 80%;
    border-radius: 0 0 5px 5px;
}
#portal-personaltools dd a:hover{
  background-color: #799D2D;
}

/*Forms elements*/
select,
textarea,
input[type=password],
input[type=text]{
  display: block;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
input.textType{

}
.plone_jscalendar select,
#formfield-form-widgets-IBirthdate-birthday select,
#formfield-form-widgets-IBirthdate-birthday input,
#formfield-form-widgets-IBirthdate-birthday select,
#formfield-form-widgets-time_out select,
#formfield-form-widgets-time_in select,
.searchField.portlet-search-gadget, 
#formfield-form-widgets-IEventBasic-start select,
#formfield-form-widgets-IEventBasic-end select,
#login-form input[type=text],
#login-form input[type=password],
.ArchetypesCalendarWidget select,
#sharing-user-group-search,
#fieldset-dates select,
#formfield-form-widgets-monthyear select{
  display: inline-block;
}
.fieldTextFormat > select{
  display: inline-block;
  vertical-align: baseline !important;
}

/*buttons*/
button,
input[type=button],
input[type=submit]{
  display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #333;
    background-color: #fff;
    border-color: #ccc; 
}
input[type=button]:hover,
input[type=submit]:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
input[type=button]:focus,
input[type=submit]:focus {
    color: #333;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
}
